#pageHeader{
    padding-top: 25px;
}

.timeslot{
    width: 100%;
    height: 75px;
    padding: 25px;
}

#timeLabel{
    padding-top: 25px;
}
body{
    padding-bottom: 75px;
}

.saveButton{
    height: 60%;
}

#buttonHolder{
    padding-top: 20px;
}

